<!-- header.. -->
<header class="header-wrapper">
    <nav>
        <ul>
            <!-- assignment 1 -->
            <li>
                <a routerLink="/assignment1" routerLinkActive="active-nav">assignment one</a>
            </li>
            <!-- assignment 2 material pagination -->
            <li>
                <a routerLink="/assignment2" routerLinkActive="active-nav" [class.active-nav]="isRouteActive('post-details')">assignment two</a>
            </li>
        </ul>
    </nav>
</header>

<!-- body -->
<section class="center-align-section">
    <router-outlet></router-outlet>
</section>

<ngx-spinner></ngx-spinner>